name: PR Closed

on:
  pull_request:
    types: [closed]

concurrency:
  # PR open and close use the same group, allowing only one at a time
  group: ${{ github.event.number }}
  cancel-in-progress: true

permissions: {}

jobs:
  cleanup:
    name: OpenShift Cleanup
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          commands: oc delete all -l app=${{ github.event.repository.name }}-${{ github.event.number }}
          oc_namespace: ${{ vars.oc_namespace }}
          oc_server: ${{ vars.oc_server }}
          oc_token: ${{ secrets.oc_token }}
